<p>
    Update user profile for username: {{ user.username }}
</p>
<mat-card>
    <form>
        <mat-form-field appearance="outline">
            <input matInput type="email" placeholder="{{user.email}}" [(ngModel)]="email" name="email" required>
        </mat-form-field>
        <!-- <label>First Name</label> -->
        <mat-form-field appearance="outline">
            <input matInput placeholder="{{user.firstName}}" [(ngModel)]="firstName" name="firstName" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="{{user.lastName}}" [(ngModel)]="lastName" name="lastName" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="{{ user.userAddress }}" [(ngModel)]="userAddress" name="userAddress" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="{{ user.userSecondAddress }}" [(ngModel)]="userSecondAddress" name="userSecondAddress">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="{{ user.userCity }}" [(ngModel)]="userCity" name="userCity">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="{{ user.userState }}" [(ngModel)]="userState" name="userState">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="{{ user.userZipcode }}" [(ngModel)]="userZipcode" name="userZipcode">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput type="tel" placeholder="{{ user.phoneNumber }}" [(ngModel)]="phoneNumber" name="phoneNumber">
        </mat-form-field>
        <mat-card-actions>
            <button mat-raised-button (click)="updateUser( email, firstName, lastName, userAddress, userSecondAddress, userCity, userState , userZipcode, phoneNumber)">UPDATE</button>
        </mat-card-actions>
    </form>
</mat-card>