/* table {
    font-size: 1em;
        }


.mat-form-field {
    font-size: .75em;
     text-align: center; 
    line-height: 1;
    }

.mat-form-field-wrapper {
  padding: .25em;  
  padding-bottom: .25em;
  margin: .10em;
}

.mat-form-field-appearance-outline {
    margin: .10;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper  {
    margin: .10;
} 
*/