<mat-card>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <!-- <input matInput type="email" placeholder="Email Address" [(ngModel)]="email" name="email" required> -->
            <input matInput value="sam@yiworks.com" type="email" placeholder="Email Address" [(ngModel)]="email" name="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <!-- <input matInput placeholder="User name" [(ngModel)]="username" name="username" required> -->
            <input matInput placeholder="User name" [(ngModel)]="username" name="username">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <!-- <input matInput placeholder="Password" [(ngModel)]="password" name="password" required> -->
            <input matInput placeholder="Password" [(ngModel)]="password" name="password">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <!-- <input matInput placeholder="First Name" [(ngModel)]="firstName" name="firstName" required> -->
            <input matInput placeholder="First Name" [(ngModel)]="firstName" name="firstName" >
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <!-- <input matInput placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required> -->
            <input matInput placeholder="Last Name" [(ngModel)]="lastName" name="lastName">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <!-- <input matInput placeholder="Address" [(ngModel)]="userAddress" name="userAddress" required> -->
            <input matInput placeholder="Address" [(ngModel)]="userAddress" name="userAddress">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Apt / Suite</mat-label>
            <input matInput placeholder="Apt / Suite" [(ngModel)]="userSecondAddress" name="userSecondAddress">
            <!-- <input matInput placeholder="Apt / Suite" [(ngModel)]="userSecondAddress" name="userSecondAddress"> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" [(ngModel)]="userCity" name="userCity">
            <!-- <input matInput placeholder="City" [(ngModel)]="userCity" name="userCity" required> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <!-- <input matInput placeholder="example: IN" [(ngModel)]="userState" name="userState" required> -->
            <input matInput placeholder="example: IN" [(ngModel)]="userState" name="userState">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Zip Code</mat-label>
            <!-- <input matInput placeholder="Zip Code" [(ngModel)]="userZipcode" name="userZipcode" required> -->
            <input matInput placeholder="Zip Code" [(ngModel)]="userZipcode" name="userZipcode">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>317-555-5555</mat-label>
            <!-- <input matInput type="tel" placeholder="317-555-5555" [(ngModel)]="phoneNumber" name="phoneNumber" required> -->
            <input matInput type="tel" placeholder="317-555-5555" [(ngModel)]="phoneNumber" name="phoneNumber">
        </mat-form-field>


        <mat-card-actions>
            <button mat-raised-button (click)="register(email, username, password, firstName, lastName, userAddress, userSecondAddress, userCity, userState ,userZipcode, phoneNumber)">Register</button>
        </mat-card-actions>
    </form>
</mat-card>