<!-- <h1>
  " "'s Profile
</h1>
<div>
  <input class="btn btn-default btn-block" type="button" value="Create Order" (click)="getCurrentPosition()">

  <h3>Profile Info/Account Info</h3>
  <textarea matInput placeholder="message" [(ngModel)]="message" name="message" rows="8" required>
  </textarea>

  <h4>Recent Orders</h4>

</div> -->

<!-- {{ order.data.drinks | json }} -->
<p> Past Orders </p>
<p *ngFor="let d of order?.data?.drinks"> {{ d.drinkName }} {{ d.price }} {{ d.price }} {{ d.drinkSize }} {{ d.drinkDescription }} </p>

<!-- <p *ngFor="let d of order.data.drinks"> {{ order.data.drinks.drinkName }} {{ order.data.drinks.price }} {{ order.data.drinks.price }} {{ order.data.drinks.drinkSize }} {{ order.data.drinks.drinkDescription }} </p> -->


<div class="search-div">
  <button mat-raised-button  (click)="onCreate()">
    <mat-icon>add</mat-icon>Create  
Order  </button>