<mat-card-actions>
        <button mat-raised-button routerLink="/admin/useradmin">User Admin</button>
        <button mat-raised-button routerLink="/admin/orderadmin">Order Admin</button>
        <button mat-raised-button routerLink="/admin/storesadmin">Store Admin</button>
    <br />
    <br />
    <!-- THIS WORKS!!! -->
    <!-- {{ this.stores.stores | json }} -->

    <!-- {{ this.onestore | json }} -->

    <button mat-raised-button (click)="addStore()">ADD A STORE</button>
</mat-card-actions>
<mat-card>
<p *ngFor="let store of stores.stores"> {{ store.storeName }}
    <!-- <mat-card> -->
        <!-- <form> -->
            <mat-card-actions>
                <button mat-raised-button (click)="gotoUpdate(store.id)">UPDATE</button>
            <!-- </mat-card-actions>
            <mat-card-actions> -->
                <button mat-raised-button (click)="deleteStore(store.id)">DELETE</button>
            </mat-card-actions>
        <!-- </form> -->
    <!-- </mat-card> -->
</p>
</mat-card>