<p>
  menu works!
</p>
<!-- ////works -->
<!-- <li *ngFor="let d of drinks.drink"> {{ d.drinkName }} {{ d.price }} </li> -->

<!-- ////works -->
<!-- <li *ngFor="let d of drinks.drink"> <button id="order" (click)="orderDrink(d.id, d.drinkName, d.price)">Add</button> {{ d.drinkName }} {{ d.price }} </li> -->
    {{i}} {{item}}
<!-- //////////WORKS!!!! -->
<p *ngFor="let d of products">
    {{ d.id }} {{ d.drinkName }} {{ d.price }}
<mat-card>
  <mat-card-content>
    <!-- <p *ngFor="let d of drinks.drink"> -->
      <!-- {{ d.drinkName }} {{ d.price }} -->
      <section class="example-section">
        <label id='d' class="example-margin"></label>
        <mat-radio-group id='d'[(ngModel)]="milkOptions">
          <mat-radio-button class="example-margin" value="Milk">Milk</mat-radio-button>
          <mat-radio-button class="example-margin" value="LOW FAT">Low Fat</mat-radio-button>
          <mat-radio-button class="example-margin" value="SOY">Soy</mat-radio-button>
        </mat-radio-group>
      </section>
      <br />
      <section class="example-section">
        <label id='d' class="example-margin"></label>
        <mat-radio-group id='d' [(ngModel)]="drinkSize">
          <mat-radio-button class="example-margin" value="Small">Small</mat-radio-button>
          <mat-radio-button class="example-margin" value="Medium">Medium</mat-radio-button>
          <mat-radio-button class="example-margin" value="Large">Large</mat-radio-button>
        </mat-radio-group>
      </section>
      <br />
      <section class="example-section">
        <mat-slide-toggle id='d' class="example-margin" [(ngModel)]="foam" [color]="primary">
          Foam?
        </mat-slide-toggle>
      </section>
      {{ milkOptions }}
      {{ drinkSize }}
      {{ foam }}

      <!-- <button mat-raised-button (click)="orderDrink(d.id, d.price, d.drinkName, milkOptions, size, foam )">Add to cart</button> -->
      <button mat-raised-button [routerLink]="['/cart', { id:d.id }]">Add to cart</button>
      
      <!-- <button mat-raised-button [routerLink]="['/cart' { id: d.id, d.price, d.drinkName, milkOptions, size, foam )">Add to cart</button> -->
      
      <!-- <button [routerLink]="['/cart' { id: d.id } ]">Add to order</button> -->
      <!-- <button [routerLink]="['/cart', { id:d.id }]">Add to order</button> -->
      <!-- <button [routerLink]="['/cart', { id, foam, drinkSize, milkOptions }]">Add to order</button> -->
      <!-- </p> -->
  </mat-card-content>
</mat-card>
</p>
<button routerLink="/cart" >go to cart</button>
      <button (click)="clearCart()">empty the cart</button>
      
     
