


/* SAM TESTING */
/* .table th {
    font-size: .50em;
}

.table td {
    font-size: .50em;
}


.table _ngcontent-c3 {
    font-size: .50em;
}

.ng-star-inserted {
    background-color: antiquewhite;
} */
