<p><button routerLink="/displaystores">Shops</button>
What Coffee Shops do we work with?</p>

<p>MENU</p>
<p *ngFor="let d of products">
 <!-- : {{ d.drinkName }} ({{d.drinkSize}}) ${{ d.price }} -->
  <!-- <mat-card> -->
    <!-- <mat-card-content> -->
      <button  [routerLink]="['/cart', { id:d.id } ]">Add</button>
    <!-- </mat-card-content> -->
     {{ d.drinkName }} ({{d.drinkSize}}) {{ d.price }}
  <!-- </mat-card> -->
</p>
<button routerLink="/cart">go to cart</button>
<button (click)="clearCart()">empty the cart</button>
<br />

<!-- <button routerLink="/stores">Stores</button>
<p>What Coffee Shops do we deliver?</p> -->